body{
background-color: rgb(6, 247, 247); 
    color: cornflowerblue;
    font-family: "Roboto Mono", monospace;
}

header{
    font-size: 80px;
    border: double 5px cornflowerblue;
}

h1{
    font-size: 50px;
}

p{
    font-size: 30px;
}